<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, ['E-Commerce','Travel', 'Real Estate', 'Food and Beverage', 'Transportation', 'Fitness', 'Healthcare', 'Games', 'Education', 'Entertainment', 'Other Software'], :prompt => 'Select Industry' %>
  </div>

  <div class="field">
    <%= f.label :top %><br>
    <%= f.select :top, [true, false], :prompt => 'Top of the week?' %>
  </div>


  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
