

<div id = "posts">
<div class = "post">
  <div class = "post_image">
    <%= image_tag @post.url %>
  </div>

<h1>
  <%= @post.company %>
</h1>

<h2>
  <%= @post.description %>
</h2>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

</div>




</div>




<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% else %>
<% end %>
