<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @post.company %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <td><%= image_tag @post.url %></td>

</p>

<p>
<%= @post.get_upvotes.size %>
Likes
</p>
<%= link_to "Like", like_post_path(@post), method: :get %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
