

<div class = "posts-show">
<div id = "posts">
<div class = "post">
  <div class = "post_image">
    <%= image_tag @post.url %>
    <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>

    <% else %>
    <% end %>
  </div>






</div>


<h1>
  <%= @post.company %>
</h1>


<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>


</div>


</div>
