<!DOCTYPE html>
<html>
<head>
  <title>🚀 Ad Inspo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

</head>

<body>
  <header>
    <div class="wrapper clearfix">
      <div id="logo">
        <%= link_to image_tag("https://i.imgur.com/JUbkIuB.png"), root_path %>
      </div>
      <nav>

        <% if current_user && current_user.admin? %>

          <%= link_to "Submit Ad", new_post_path %>

          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>






        <% else %>
        <%end %>
          <%= link_to "About", "/about" %>






      </nav>
    </div>

  </header>


  <div id="search-bar">
      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Company Name" %>
        <%= submit_tag "Search", class: 'searching' %>
      <% end %>



  </div>

 <div class="wrapper">
  <% if current_user && current_user.admin? %>


    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>

    <% else %>
    <%end%>



    <%= yield %>
  </div>
</body>
